/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Young Serif", "Outfit";
  background-color: #f3e5d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0.625rem;
  padding: 0.625rem;
}

#card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1.25rem;
  max-width: min-content;
  padding: 2.5rem;
  margin: 0.625rem;
  justify-content: center;
  align-items: start;
}

#picture {
  border-radius: 1.25rem;
  max-width: 41rem;
  margin-bottom: 0.625rem;
}

#title {
  margin-bottom: 1.5rem;
  font: 2.5rem "Young Serif";
}

.tagline {
  font: 1rem "Outfit";
  color: #5F564D
}

#prep {
  background-color: #fff7fb;
  border-radius: 1.25rem;
  min-width: 100%;
  margin: 2rem 0 0;
  padding: 1.5rem;
}

#prep-time {
  color: #7a284e;
  font: 600 1.25rem "Outfit";
  margin-bottom: 1rem;
}

li {
  color: #5f564d;
  padding-left: 1rem;
}

#prep-time,
#ingredients,
#instructions,
li + li {
  margin-top: 0.5rem;
}

#ingredients,
#instructions,
li::marker {
  color: #854632;
  font-weight: 700;
}

.section-title {
  color: #854632;
  font-size: 1.75rem;
  font-family: "Young Serif";
  margin-bottom: 1.5rem;
}

#ingredients,
#instructions {
  padding: 2rem 0;
  width: 100%;
  border-bottom: #5f564d;
  border-style: none none solid;
  border-width: 1px;
  border-color: #E3DDD7;
}

#nutrition {
  margin-top: 2rem;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
